html{
	
}

button
{
    border:1px solid;
    border-radius:3px;
    height:20px;
}

.hostFontSize{}
.hostFontFamily{}
.hostFontColor{}
.hostBgd{}
.hostBorder{}

/*---------------------------------*/

.container{
	height: 52px;
	margin: 5px 0px 5px 0px;
	overflow: hidden;
}

.container .color{
	width: 26px;
	height:26px;
	margin: 0px 1px 1px 0px;
	float: left;
}
.container .color.selected{
	width: 22px;
	height:22px;
	margin: 0px 1px 1px 0px;
	border: 2px solid #FFFFFF;
	float: left;
}

.container .image-holder{
	width: 40px;
	height:40px;
	margin: 0px 1px 1px 0px;
	background-color: #EEEEEE;
	float: left;
}

.container .image-holder .image{
	width: 40px;
	height:40px;
}
